name: release
on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  GH_TOKEN: ${{ secrets.REPO_TOKEN }}
  GH_USER: ${{ secrets.REPO_USER }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - name: Configure git HTTPS for private modules
        run: echo machine github.com login ${GH_USER} password ${GH_TOKEN} > ~/.netrc
      - name: Install npm packages
        run: npm install && npm install
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.20.0'
          check-latest: true
          cache: true
      - name: Install mage
        uses: magefile/mage-action@v3
        with:
          version: latest
      - name: Check for CI dependency installation routine
        id: checkCiDeps
        run: |
          cd /home/runner/go/bin
          ln -sf /opt/hostedtoolcache/mage-action/*/x64/mage mage
          cd -
          echo "task=$(mage -l | grep -o '  ci' | tr -d ' ')" >> $GITHUB_OUTPUT
      - name: Install CI dependencies with mage
        if: ${{ steps.checkCiDeps.outputs.task == 'ci' }}
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: "ci"
      - name: Test with mage
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: test
      - name: Release
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
